.element{
    font-family: 'Kalam', cursive;
    font-size: 40px;
}

#masthead{
    background: url("https://source.unsplash.com/collection/654220");
    background-position:center ;
    background-repeat: no-repeat;
}

#circularImage{
    margin-bottom: 20px;
    max-width: 1000px;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    font-family: 'Kalam', cursive;
    font-size:40px;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}