/** { box-sizing: border-box; }*/

/* force scrollbar */
html { 
    display: table;
}


html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}   

h4{
    font-family: 'poppins', cursive;
    margin-top: 30px;
    vertical-align: center;
}
#menu, #fixedMenu, #menuBotMobile, #menuMobile, #menuTopMobile{
    font-family: 'poppins', cursive;
}
#menuTopMobile{
    visibility: hidden!important;
}

#menu .left.item {
    padding-right: 20px!important;
}

#menu .right.item{
    padding-left: 20px!important;
}
#menu #name{
    width:50%!important;
}

.ui.fluid.card{
    font-family: 'poppins', cursive;
}
.ui.special.card{
    font-family: 'poppins',cursive;
}
.ui.special.card .progress{
    margin-left: 10%;
    margin-right: 10%;
}
.element, .elementAbout, .elementSkills, .elementProjects{
    font-family: 'Kalam', cursive;
    font-size: 40px;
}

#masthead{
    /*background: url("https://source.unsplash.com/collection/654220");*/
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), url("https://source.unsplash.com/collection/654220");
    background-position:center;
    background-color: black;
    background-repeat: no-repeat;
    opacity:0.9;
}

#fixedMenu{
    visibility: hidden;
    height:70px;
    border:0;
}
#name{
    font-size: 40px;
    color:gray;
}

#name:hover{
    color:white;
}


#menu, #footer, .row{
    margin-left: 20px;
    margin-right: 20px;
    border: 0;
}
#footer .ten.wide.column{
    text-align: center;
}
#circularImage{
    margin-bottom: 20px;
    max-width: 1000px;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    font-family: 'Kalam', cursive;
    font-size:40px;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* ---- grid ---- */

/* ---- grid ---- */

/* ---- grid ---- */

#masonry {
    width:1200px!important;
    display: table;
    height: 75%; /* inherit height from body */
    margin: 0 auto;
}

/* clear fix */
#masonry:after {
    content: '';
    display: block;
    clear: both;
}


/* ---- .grid-item ---- */

/* ---- .grid-item ---- */
.skills .grid-item{
    z-index: -10;
}

.grid-sizer,
.grid-item {
    width: 33.3%; 
}

.grid-item {
    float: left;
    margin-bottom:15px;
}

.grid-item img {
  display: block;
  width: 100.5%;
}

@media(max-width: 1212px){
    #masonry{
        width:1000px!important;
    }

}
@media(max-width: 1033px){
     #masonry{
        width:800px!important;
    }
    #footer #dirCol{
        padding-top:15px!important;
        padding-bottom: 10px!important;
    }
}
@media(max-width: 833px){

    #verticalNav{
        visibility: hidden!important;
    }
    #masthead #circularImage{
        width:200px;
    }
    .element, .elementAbout, .elementSkills, .elementProjects{
        font-family: 'Kalam', cursive;
        font-size: 30px;
    }
    #menu #name, #fixedMenu #name{
        font-family: 'poppins', cursive;
        font-size: 35px;
    }
    #menu .item, #fixedMenu .item{
        font-family: 'poppins',cursive;
        font-size: 18px;
    }
    .grid-sizer, .grid-item { 
        width: 50%;
    }
     #masonry{
        width:600px!important;
    }
    #masonry .ui.label{
        font-size: 10px;
    }

}
@media(max-width:656px){
    #fixedMenu{
        visibility: hidden!important;
    }
    #menuComp{
        display:none;
    }
    #menuBotMobile, #menuTopMobile{
        height:70px;
        border-style:none;
        border-radius: 0!important;
    }
    #menuBotMobile .item{
        padding-top: 2%;
        padding-bottom: 0;
    }
    #menuBotMobile #name{
        padding-top:2%;
    }
    #menuMobile, #menuBotMobile{
        display:inline-block!important;
    }
    #menuTopMobile {
        visibility: visible!important;
    }
    #menuMobile .two.item, #menuBotMobile .two.item, #menuTopMobile .two.item{
        width:50%;
    }
     #menuMobile #name, #menuTopMobile #name, #menuBotMobile #name{
        font-size: 30px;
    }
    #menuMobile .item, #menuTopMobile .item, #menuBotMobile .item{
        font-size: 13px;
    }
    #menuBotMobile, #menuTopMobile{
        height:50px;
    }
    .ui.inverted.footer.segment{
        display:none;
    }

}
@media(max-width: 608px){
    .grid-sizer, .grid-item { 
        width: 100%;
    }

     #masonry{
        width:300px!important;
    }

}
@media(max-width: 459px){
    #menuBotMobile, #menuTopMobile{
        height:50px;
    }

    #menuMobile #name, #menuTopMobile #name, #menuBotMobile #name{
        font-size: 25px;
    }
    #menuMobile .item, #menuTopMobile .item, #menuBotMobile .item{
        font-size: 13px;
    }
    #menuBotMobile #name{
        padding-top:3%;
    }
     #masonry{
        width:250px!important;
    }
}

@media(max-width: 340px){
    #menuBotMobile, #menuTopMobile{
        height:40px;
    }
    #menuMobile #name, #menuTopMobile #name, #menuBotMobile #name{
        font-size: 20px;
    }
    #menuMobile .item, #menuTopMobile .item, #menuBotMobile .item{
        font-size: 10px;
    }
    #menuBotMobile .item{
        padding-top: %;
        padding-bottom: 0;
    }
    #menuBotMobile .two.item{
        padding-top:3%;
    }
}



/*Footer*/
#footer .ten.wide.column{
    margin-top: 10px;
}

.label{
    font-family: 'poppins', cursive;
    font-weight: 300;
}


#landingGrid:hover {
    transition: all 0.2s ease;
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.ui.image{
    box-shadow: 4px 5px 3px #828282;
}

#footer .six.wide.column .column{
    margin-right: 10px;
}

/*Footer popup*/
#footerPopUp .ui.grid .inverted.row{
    margin:0;
    color:white;
    background-color: grey;
}

#footerPopUp .ui.circular.buttons .column{
    margin-right: 10px;
}

/*Projects Page specifically*/

#masonry .ui.label{
    margin-bottom: 5px;

}


