* { box-sizing: border-box; }

/* force scrollbar */
html { 
    width:100%; 
    display: table;
}
h4{
    font-family: 'poppins', cursive;
    margin-top: 30px;
    vertical-align: center;
}
#menu, #fixedMenu{
    font-family: 'poppins', cursive;
}

.element{
    font-family: 'Kalam', cursive;
    font-size: 40px;
}

#masthead{
    /*background: url("https://source.unsplash.com/collection/654220");*/
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%), url("https://source.unsplash.com/collection/654220");
    background-position:center;
    background-color: black;
    background-repeat: no-repeat;
    opacity:0.9;
}

#fixedMenu{
    visibility: hidden;
    height:70px;
    border:0;
}
#name{
    font-size: 40px;
    color:gray;

}

#name:hover{
    color:white;
}


#menu, #footer, .row{
    margin-left: 20px;
    margin-right: 20px;
    border: 0;
}
#circularImage{
    margin-bottom: 20px;
    max-width: 1000px;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    font-family: 'Kalam', cursive;
    font-size:40px;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* ---- grid ---- */

/* ---- grid ---- */

/* ---- grid ---- */

#masonry {
  height: 75%; /* inherit height from body */
  margin: 0 auto;
}

/* clear fix */
#masonry:after {
  content: '';
  display: block;
  clear: both;
}

#masonry.ui.container{}

/* ---- .grid-item ---- */

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.2%;
}

.grid-item {
  float: left;
  margin-bottom:15px;
}

.grid-item img {
  display: block;
  width: 100.5%;
}


@media (max-width: 930px) {
    .grid-sizer,
.grid-item{ width: 33.1%; }
}

@media (max-width: 800px) {
    .grid-sizer,
.grid-item { width: 50%; }
}

@media (max-width: 450px) {
    .grid-sizer,
.grid-item { width: 100%; }
}

/**** Start: Recommended Isotope styles ****/
/**** Isotope Filtering ****/
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: top, left, opacity;
    transition-property: transform, opacity;
/*    -webkit-transition-delay: 0s, 0.8s, 0s;
    -moz-transition-delay: 0s, 0.8s, 0s;
    -ms-transition-delay: 0s, 0.8s, 0s;
    -o-transition-delay: 0s, 0.8s, 0s;
    transition-delay: 0s, 0.8s, 0s;*/
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

/*Footer*/
#footer .ten.wide.column{
    margin-top: 10px;
}

.label{
    font-family: 'poppins', cursive;
    font-weight: 300;
}


#landingGrid:hover {
    transition: all 0.2s ease;
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.ui.image{
    box-shadow: 4px 5px 3px #828282;
}



